html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    background-color:var(--ui-background-color);
    margin:0 auto;
    padding:0;
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    color:var(--ui-text-color);
    text-align:left;
    line-height:1.5 !important
}

/*{{{ botões */
button {
    background: none;
    border: none;
    color: var(--ui-text-color);
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    padding: 0;
    cursor: pointer;
}

button:active, button:hover {
    background: var(--ui-selection-background);
    color:var(--ui-selection-text);
}

button::before{
    content: "[ ";
}

button::after{
    content: " ]";
}
/*}}}*/

/*{{{ títulos */
h1, h2, h3, h4, h5, h6 {
    scroll-behavior: smooth;
    font-size:1.5rem;
    margin:0px;
    margin-top:22px;
    font-weight:bold;
    color:var(--ui-text-color)
}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    color: var(--ui-selection-text);
    background: var(--ui-selection-background);
}
/*}}}*/

/*{{{ listas */
p, ul, ol {
    margin:0px;
    color:var(--ui-text-color)
}
ol {
    padding-left: 2rem;
}
/*}}}*/

/*{{{ títulos */
article a {
    text-decoration: underline;
    color: var(--ui-link-color);
}
article a:hover {
    color:var(--ui-background-color);
    background-color:var(--ui-base-color)
}
/*}}}*/

main {
    width:90%;
    max-width: 600px;
    padding-bottom:1rem;
    margin-bottom:1rem;
    margin-right:auto;
    margin-left:auto;
}

p {
    word-wrap:break-word;
    word-break:break-word;
    white-space:pre-wrap
}

::selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}
::-moz-selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}

/*{{{ menus */
.menu ul {
    padding: 0.5rem;
    margin-bottom: 1rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu ul li {
    margin-right: 10px;
}
.menu ul li a {
    text-decoration:none;
    color:var(--ui-text-color);
}
.menu ul li a:hover {
    text-decoration:none;
    color:var(--ui-background-color);
    background-color:var(--ui-base-color);
}
article >ul {
    list-style-type:none;
    list-style:none;
}
article ul>li:before {
    content:"-";
    margin-right:9px
}
/*}}}*/

article > header {
    margin-top:25px;
    margin-bottom:10px;
    border-bottom: var(--border);
}

main {
    margin-top:25px;
    margin-bottom:10px;
    border-bottom: var(--border);
}

article div.highlight pre {
    background-color: var(--ui-background-color-pre);
    padding: 1%;
    overflow: auto;
}

.remote-options {
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--border);
    padding-bottom: .5rem;
}

.remote-options a:not(:first-child){
    margin-left: 1rem;
}

li p {
    display: inline;
}

/*{{{ bloco de código */
code {
    padding: .1em .2em;
    background-color: var(--ui-background-color-pre);
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    display: inline-block;
    font-family: consolas;
}

pre {
    background-color: var(--ui-background-color-pre) !important;
    border-radius: 3px;
    padding: .5rem !important;
    margin: 1rem !important;
}

pre > code {
    background-color: transparent;
    padding: 0 0.5em;
}
/*}}}*/

blockquote {
    padding: 0 1em;
    border-left: .25em solid var(--ui-selection-background);
}

/*{{{ sharing */
.sharing a {
    text-decoration: none;
}
.sharing a:hover {
    background: none;
}
.sharing a svg {
    fill: var(--ui-base-color);
    opacity: 0.3;
}
.sharing a:hover svg {
    transition: 0.5s;
    opacity: 0.8;
}
.sharing .facebook:hover svg{
    fill: #3b5998;
}
.sharing .twitter:hover svg{
    fill: #1da1f2;
}
.sharing .linkedin:hover svg{
    fill: #0077b5;
}
/*}}}*/

a.card-post, a.card-post:visited {
    text-decoration: none;
    color: var(--ui-text-color);
    border: 1px solid var(--ui-link-color);
}


/* vim: set fdm=marker: */
