html {
    scroll-behavior: smooth;
}

button {
    background: none;
    border: none;
    color: var(--ui-text-color);
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    padding: 0;
    cursor: pointer;
}

button:active, button:hover {
    background: var(--ui-selection-background);
    color:var(--ui-selection-text);
}

button::before{
    content: "[ ";
}

button::after{
    content: " ]";
}

body {
    background-color:var(--ui-background-color);
    margin:0 auto;
    padding:0;
    font-family: 'Segoe UI', Roboto, Ubuntu, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size:1rem;
    color:var(--ui-text-color);
    text-align:left;
    line-height:1.5 !important
}
h1, h2, h3, h4, h5, h6 {
    scroll-behavior: smooth;
    font-size:1.5rem;
    margin:0px;
    margin-top:22px;
    font-weight:bold;
    color:var(--ui-text-color)
}
h1:target, h2:target, h3:target, h4:target, h5:target, h6:target {
    color: var(--ui-selection-text);
    background: var(--ui-selection-background);
}
p, ul, ol {
    margin:0px;
    color:var(--ui-text-color)
}
ol {
    padding-left: 2rem;
}
a {
    text-decoration:underline;
    color:var(--ui-link-color)
}
a:hover {
    color:var(--ui-background-color);
    background-color:var(--ui-base-color)
}
main {
    width:90%;
    max-width: 600px;
    margin-bottom:25px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:25px;
}

img {
    width: 100%;
}
.cover {
    margin: 1em 0;
    padding-top: 30vh;
    background-size: cover;
    background-position: center;
}
p {
    word-wrap:break-word;
    word-break:break-word;
    white-space:pre-wrap
}

::selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}
::-moz-selection {
    background:var(--ui-selection-background);
    color:var(--ui-selection-text)
}

/*{{{Menus*/
.menu ul {
    margin-top:12px;
    margin-bottom:12px;
    padding-left:0px;
    list-style-type:none;
}
.menu ul li {
    margin-right:10px;
    display: inline-block;
}
.menu.cabecalho ul li:last-child {
    float: right;
}
.menu ul li a {
    text-decoration:none;
    color:var(--ui-text-color);
}
.menu ul li a:hover {
    text-decoration:none;
    color:var(--ui-background-color);
    background-color:var(--ui-base-color);
}
:not(.menu)>ul {
    list-style-type:none;
    list-style:none;
}
:not(.menu)>ul>li:before {
    content:"-";
    margin-right:9px
}
ul ul {
    padding-left: 1rem;
}
.toggle-theme {
    flex: content;
}
header {
    margin-top:25px;
    margin-bottom:10px;
    border-bottom: var(--border);
}
footer {
    color:var(--ui-text-color);
    margin:20px auto 15px;
    text-align:right;
    margin-bottom:20px;
    border-top: var(--border);
}
footer.menu ul{
    flex-direction: row-reverse;
}
footer.menu li a{
    text-shadow: 0 1px 1px rgba(0,0,0,0.1),0 0 5px rgba(181,232,83,0.1),0 0 10px rgba(181,232,83,0.1);
    color: var(--ui-link-rodape-color);
}

/*}}}*/

article div.highlight pre {
    background-color: var(--ui-background-color-pre);
    padding: 1%;
    overflow: auto;
}

.remote-options {
    display: flex;
    justify-content: flex-end;
    border-bottom: var(--border);
    padding-bottom: .5rem;
}

.remote-options a:not(:first-child){
    margin-left: 1rem;
}

li p {
    display: inline;
}

/*{{{ bloco de código */
code {
    padding: .1em .2em;
    background-color: var(--ui-background-color-pre);
    margin: 0;
    font-size: 85%;
    border-radius: 3px;
    display: inline-block;
    font-family: consolas;
}

pre {
    background-color: var(--ui-background-color-pre) !important;
    border-radius: 3px;
    padding: .5rem !important;
    margin: 1rem !important;
}

pre > code {
    background-color: transparent;
    padding: 0 0.5em;
}
/*}}}*/

blockquote {
    padding: 0 1em;
    border-left: .25em solid var(--ui-selection-background);
}

/* vim: set fdm=marker: */
