<header>
    <nav class="menu cabecalho" role="navigation">
        <ul>
            <li>
                <a href="{{ .Site.Home.RelPermalink }}" class="">
                    {{ .Site.Title }}
                </a>
            </li>
            {{ range .Site.Menus.main }}
            <li class="list f5 f4-ns fw4 dib pr3">
                <a class="" href="{{ .URL }}" title="{{ .Name }} page">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>
